#relativo{
  position: relative;
  margin: 0 auto;
  width: 500px;
  height: 500px;
  border: thin solid black;
}

/*Head*/

.cabeza{
    width: 80px;
    height: 80px;
    position:absolute;
    margin:90px auto;
    left: 0px;
    right: 0px;
    border-radius: 50%;
    background-color: green;
    z-index:-2;
}

.c_fondo{
  width: 90px;
  height: 90px;
  position:absolute;
  margin:85px auto;
  left: 0px;
  right: 0px;
  border-radius: 50%;
  background-color: rgb(4, 163, 4);
  z-index: -3;
}

.c_pelo{
  width: 0px; 
  height: 0px; 
  border-left: 25x solid rgb(4, 163, 4);
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  position:absolute;
  top: 70px;
  left: 150px;
  right: 0px;
  z-index: -1;
}

#ojo1{
  height: 10px;
  width: 10px;
  position: absolute;
  border-radius: 20px;
  background: black;
  top: 100px;
  margin-top: 10px;
  margin-left: 230px;
  z-index:-1;
}

#ojo2{
  height: 10px;
  width: 10px;
  position: absolute;
  border-radius: 20px;
  background: black;
  top: 100px;
  margin-top: 10px;
  margin-left: 260px;
  z-index:-1;
}

/*Cuerpo*/

.torso{
  width: 100px;
  height: 150px;
  border-radius: 25px 25px 50px 50px;
  position:absolute;
  margin:-30px auto;
  left: 0px;
  right: 0px;
  top:200px;
  z-index:-1;
  background-color: green;
}